@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

:root {
    --blue: #15549A;
}

* {
    font-family    : 'Poppins', sans-serif;
    margin         : 0;
    padding        : 0;
    box-sizing     : border-box;
    text-transform : capitalize;
    outline        : none;
    border         : none;
    text-decoration: none;
    transform      : all .2s linear;
}

*::selection {
    background: var(--blue);
    color     : #fff;
}

html {
    font-size : 62.5%;
    overflow-x: hidden;
}

section {
    min-height : 100vh;
    padding    : 0 9%;
    padding-top: 7.5rem;
}

.btn {
    padding   : 0.7rem 4rem;
    display   : inline-block;
    margin-top: 1.5rem;
    font-size : 1.7rem;
    color     : #999;
    border    : 0.1rem solid#DEE4EE
}

.btn:hover {
    background: #f0f0f0;
    color     : var(--blue);
}

header {
    position       : fixed;
    top            : 0;
    left           : 0;
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    z-index        : 1000;
    background     : #fff;
    width          : 100%;
    box-shadow     : 0 0.5rem 1rem rgb(0 0 0 / 10%);
}

header .logo {
    font-size: 2.5rem;
    color    : var(--blue);
}

header .navbar ul {
    display        : flex;
    justify-content: center;
    align-items    : center;
    list-style     : none;
}

header .navbar ul li {
    margin-left: 3rem;
}

header .navbar ul li a {
    color    : #333;
    font-size: 1.7rem;
}

header .navbar ul li a.action {
    color: #15549A;
}

header .navbar ul li a:hover {
    color: var(--blue);
}

#menu {
    font-size: 3rem;
    color    : #666;
    cursor   : pointer;
    display  : none;
}

.home {
    padding-bottom     : 3rem;
    display            : flex;
    align-items        : center;
    justify-content    : space-between;
    min-height         : 75vh;
    overflow           : hidden;
    background         : linear-gradient(rgba(0, 0, 255, .7), rgba(0, 0, 255.7)), url(../images/home-img.png) no-repeat;
    background-size    : cover;
    background-position: bottom;
}

.home .image {
    position: relative;
    top     : 7.5rem;
}

.home .image img {
    width: 40rem;
}

.home .content span {
    font-size: 2.5rem;
    color    : #ff0;
}

.home .content h3 {
    font-size: 5rem;
    color    : #fff;
}

.home .content p {
    font-size: 1.5rem;
    color    : #eee;
}

.home .btn {
    color: #eee;
}

.home .btn:hover {
    color: var(--blue);
}

.icons-container {
    min-height     : auto;
    padding-top    : 1rem;
    display        : flex;
    align-items    : center;
    justify-content: center;
    flex-wrap      : wrap;
}

.icons-container .icons {
    display    : flex;
    align-items: center;
    margin     : 2rem;
    width      : 23rem;
}

.icons-container .icons img {
    width  : 15rem;
    padding: 0 1rem;
}

.icons-container .icons .info {
    padding-left: 1rem;
}

.icons-container .icons .info h3 {
    font-size: 2rem;
    color    : var(--blue);
}

.icons-container .icons .info p {
    font-size: 1.2rem;
    color    : #666;
}


















/* media queries */
@media (max-width:990px) {
    html {
        font-size: 55%;
    }
}

@media (max-width:768px) {
    #menu {
        display: block;
    }

    header .navbar {
        position        : fixed;
        top             : 6.5rem;
        left            : 0;
        width           : 100%;
        background      : #fff;
        border-top      : 1px solid rgba(0, 0, 0, .1);
        transform       : scaleY(0.1);
        transform-origin: top;
        opacity         : 0;
    }

    header .navbar ul {
        flex-flow: column;
        padding  : 2rem 0;
    }

    header .navbar ul li {
        margin    : 1rem 0;
        text-align: center;
        width     : 100%;
    }

    header .navbar ul li a {
        font-size: 2rem;
        display  : block;
    }

    .fa-times {
        transform: rotate(180deg);
    }

    header .navbar.nav-toggle {
        transform: scaleY(1);
        opacity  : 1;
    }

    .home .image {
        display: none;
    }

    .home .content {
        text-align: center;
    }
}

@media (max-width:550px) {
    section {
        padding    : 0 3%;
        padding-top: 7.5rem;
    }

    .home .content h3 {
        font-size: 3.5rem;
    }

    .home .content p {
        font-size: 1.3rem;
    }

    .icons-container .icons {
        width: 100%;
    }
}